meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Pitch
meta(meta name="description" content="No se escriben guiones para dejarlos guardados en un cajón, el interés como guionistas es ver en pantalla aquello que se ha plasmado con palabras. Por ello, es de vital importancia estar preparados para presentar una propuesta de guion ante un productor, inversionista o jurado que dé el impulso que se necesita para hacerlo realidad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")