h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span 250201015-04. Estructurar la propuesta de guion cinematográfico de ficción según requerimientos y directrices de la producción.