.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
            p
                strong.mr-2 Kinestesia:	
                | percepción del equilibrio y de la posición de las partes del cuerpo.
            hr
            p
                strong.mr-2 Market:	
                | mercado en español.
            hr
            p
                strong.mr-2 Pitch:	
                | presentación de un proyecto hecha ante un posible inversor.
            hr
            p
                strong.mr-2 Producto:	
                | aquello que es producido.
            hr
            p
                strong.mr-2 Servicio:	
                | “Organización y personal destinados a cuidar intereses o satisfacer necesidades del público o de alguna entidad oficial o privada. Servicio de correos, de incendios, de reparaciones” (RAE, 2019).
