.container#page-tema-1

    .header-ecored
        h1 1. Herramientas de pitching

    .jumbotron.bg-white 

        .row
            h1 Introducción

        .row.justify-content-center.align-items-center.my-5 
            img(src="assets/images/pages/tema-1/imagen1.png", alt="").img-fluid
            
        .row
            p Los avances tecnológicos, los cambios en la producción de contenidos audiovisuales y la diversidad creativa, han obligado al sector audiovisual a generar estrategias para la selección de proyectos; entre ellas el pitching, que establece las sesiones orales, los ítems de investigación y la originalidad en la comunicación no verbal como componentes para atraer la atención de inversores y productores.

        .row.justify-content-center.align-items-center.my-5 
            img(src="assets/images/pages/tema-1/imagen2.png", alt="").img-fluid
            
        .row
            p #[strong Pitch] es la presentación discursiva de una idea de manera breve (la duración varía) y correctamente argumentada. En el mercado audiovisual se realiza pitch en festivales y convocatorias, con una disposición específica de tiempo, como ocurre en el BAM, el FICCI, BogoShorts, IndieBo y el Bogotá Horror Film Festival. En el pitch se establecen tres variables importantes que permiten una buena comunicación de la idea: coherencia, viabilidad e impacto.


        .header-arrow.my-5
            h3.text-center Parámetros para la presentación de un producto audiovisual


        hr.bd-hr-blue     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Saludar
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Es importante mantener en todo momento las normas de cortesía básica, sin que esto tome más del tiempo necesario.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Presentación (visual / personal)
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Al no disponer de grandes cantidades de tiempo, es indispensable que desde una presentación personal también se transmita el mensaje correcto.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Enganchar
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Los productores y jurados a menudo son personas con muchas ocupaciones y quienes reciben cientos de propuestas a diario; por ello, es importante llamar su atención desde el segundo 0. Para esto se puede iniciar haciendo una pregunta que los haga reflexionar, contando una anécdota corta o hablando brevemente de la motivación del proyecto.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Tener claro qué se va a ofrecer y qué se va a pedir
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Es indispensable tener claro qué se tiene para ofrecer, el tipo de producto, su duración, el formato y las posibilidades dentro del mercado audiovisual. Sin embargo, también se debe saber exactamente qué se va a pedir. Si bien en muchas convocatorias se tiene un premio fijo, ya sea monetario o no, en otras ocasiones los inversionistas no tienen una inversión definida, como en el caso del reality de la cadena Sony o el programa Shark Tank. Siendo las personas mismas quienes deban pedir una suma de dinero o un apoyo en especie.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Nombre
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 El nombre de nuestro audiovisual es la primera herramienta para enganchar a nuestro jurado. Pensemos en algo original, fácil de recordar y que refleje la esencia de lo que queremos contar.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Idea
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 La idea, al ser un insumo básico que puede ser concreto o abstracto, debe exponerse de manera concisa pero completa.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Formato (televisión, cine, medios digitales, etc.)
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Se refiere al destino de exhibición que tendrá el producto una vez sea realizado y determinará la duración en pantalla.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Tipo de producto (cortometraje, largometraje, filminuto, serie, magazín, etc.)
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 El jurado quiere saber qué se le está ofreciendo y por eso se debe dejar claro desde un principio qué tipo de audiovisual se les está presentando.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Género (documental, terror, drama, romance, comedia, etc.)
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 El género ubica al jurado en un lugar específico y lo prepara para las propuestas venideras.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Problema
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Se refiere a aquella problemática que se ha identificado, bien sea en el tema a tratar o en la generación de productos audiovisuales con características específicas o dirigidos a poblaciones puntuales. Lo que crea la necesidad de que se produzca un audiovisual como el que se va a ofrecer.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Necesidad
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 En este punto se explica por qué el producto audiovisual es necesario en el mercado. Se deben revisar otros productos con temáticas o características similares. Este punto vale la pena pensarlo bien, ya que con tanta información que se produce a diario, cada vez es más complicado generar contenido que sea realmente importante.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Tema
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Es aquello de lo que se quiere hablar en el audiovisual.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Justificación
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Es responder a las preguntas ¿Por qué el audiovisual es merecedor de ser producido? ¿Por qué se está involucrado en él? 
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Cuál es su punto diferenciador
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Explicar claramente qué diferencia el producto audiovisual de otros que ya se han producido ¿Es el tema? ¿La forma como se va a contar, es decir, la narrativa? ¿Son las herramientas audiovisuales que se van a emplear para contarlo? Buscar ser innovadores.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Target o público objetivo
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Delimitar el público al que se desea dirigir en términos de posición socioeconómica, ubicación geográfica, edad, género y ocupación.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Antecedentes o referentes del producto
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Exponer algunos productos que ya estén en el mercado y que guarden similitudes con el que se tiene. Ojo, no se trata de plagiar, sino de inspirarse en el trabajo que muchos otros han realizado y que tocan los mismos temas o se cuentan de maneras similares a las que se tienen. Siempre se deben referenciar con director y año de realización.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-1.order-md-3.timeline-date
                        time.text-title Apoyos
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.px-5.py-5 Algunos jurados y convocatorias permiten que esta información esté consignada en un apoyo gráfico y audiovisual, como presentaciones de PowerPoint, teaser o storytelling. Es recomendable ser lo más visuales (uso de colores, formas e imágenes) posible, pero que no se inunde con textos pesados, no leer la información contenida en la presentación y no resolver los anteriores puntos a manera de cuestionario (pregunta-respuesta); sino integrar toda la información en un discurso claro, conciso y muy creativo.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
        hr.bd-hr-blue 

        .row.my-5
            p En conclusión, el pitch es una oportunidad de corta duración para convencer a aquellos que tienen el poder económico de hacer realidad las ideas, argumentando, justificando, pero sobre todo, transmitiendo la emoción que se siente al pensar en las ideas. 


            

    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.1] Expresión oral

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen3.png", alt="").img-fluid
        
        .row.my-5
            p Existen herramientas del lenguaje verbal y no verbal de las que se puede valer a la hora de presentar un pitch. Estas herramientas no solo ayudarán a sentirse más seguros, sino que además harán que las ideas se transmitan de forma clara y eficaz.

            p Es así que como por expresión oral se entiende que es un conjunto de técnicas que indican las pautas generales que se deben seguir para comunicarse efectivamente. No se trata únicamente de ejercer la palabra hablada, sino de la forma en que esas palabras son dichas. Los elementos que la componen son:



        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen4.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul La voz]
                                br
                                br
                                | No se trata de saber de técnica vocal, sino de transmitir a través del tono, el volumen y la intensidad, sentimientos y actitudes que permitan impactar a los oyentes.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen5.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul Vocalización]
                                br
                                br
                                | Para que el mensaje sea entendido, es necesario articular correctamente las palabras, sin exagerar su pronunciación.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen6.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul Dicción]
                                br
                                br
                                | Dominar el idioma en que se presentan para pronunciarlo correctamente y que así mismo el mensaje se transmita cabalmente.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen7.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul Kinestesia]
                                br
                                br
                                | Es la capacidad de moverse adecuadamente en el espacio que se tiene alrededor.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen8.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul Volumen y potencia]
                                br
                                br
                                | Qué tan intensa es la voz para que se pueda escuchar con claridad, sin molestar al oyente.


            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen9.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul Ritmo]
                                br
                                br
                                | Tener una velocidad adecuada para hablar, ni muy rápido que no se entienda, ni muy lento que llegue a aburrir. Además, es necesario acentuar correctamente cuando así se requiera, para darle intencionalidad al discurso.
            

    .jumbotron.bg-white 
        .header#tema-1_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.2] Interpretación y simbología técnica, estética y ética en la escritura de las ideas: aspecto sociológico de las historias

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen10.png", alt="").img-fluid
        
        .row.my-5
            p La interpretación y simbología técnica en el audiovisual, son todas las herramientas, técnicas (narrativas o expresivas), estéticas (elección de colores, formas y texturas), éticas (punto de vista de lo que se cuenta), que están al servicio de materializar una idea y transmitir un mensaje. Cada vez que se elige un personaje, una estructura narrativa o un punto de giro, se está haciendo una elección consciente que debe ir encaminada a contar más allá de las palabras y eso se debe ver reflejado en la propuesta, que será interpretada por los jurados y posteriormente por los espectadores, dándole significados ligados a las experiencias propias.

            p Las ideas vienen de cualquier lugar y se pueden transformar de muchas maneras, pero es importante que en todos los procesos se pregunte si realmente se está planteando una postura ética frente a los temas a tratar. Esto no quiere decir que deban autocensurarse, se trata simplemente de encontrar su propia voz y alzarla con respeto. Por ejemplo, si se desea contar la historia sobre alguna comunidad en particular, es necesario que se lleva a cabo procesos de investigación que incluyan la observación, y, de ser posible, la convivencia, de manera que se refleje en los guiones la verdadera esencia de quienes hablan. 
            

    .jumbotron.bg-white 
        .header#tema-1_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.3] Estrategia de mercado y manejo de público

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen11.png", alt="").img-fluid
        
        .row.my-5
            p Para que cualquier objetivo que se proponga emprender y que tenga éxito, es necesario crear una estrategia de mercado, estudiar a la competencia y al consumidor. Cada producto o servicio requiere de una estrategia propia y su objetivo es comercializar un producto, en este caso, el guion; sin olvidar que este se convertirá en una película.

            p El primer y más importante paso para lograr que se invierta en los guiones, es nunca dejar de escribir. La práctica constante afinará todo aquello que deba pulirse y los preparará para el momento en que se deba entregar el producto a un tercero interesado en hacerlo película.

            p Es necesario ser conscientes del mercado del país y/o ciudad. Para ello, se puede hacer y responder las siguientes preguntas.

        .row.my-5.list__recuadro 
            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify ¿Cuántas películas/series de ficción se producen al año?


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify ¿Qué proporción de ellas parte de un guion que no está escrito por el mismo director?


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify ¿Cuántas de ellas son de guionistas noveles?


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify ¿Hay programas de desarrollo de guiones para guionistas que empiezan?

        .row.my-5
            p Una vez respondidas, se habrá hecho una idea de la necesidad actual de un producto como el que se tiene para ofrecer y se podrá emprender la estrategia.

            p Para responder a la pregunta de si el guion es lo suficientemente bueno como para convertirse en un producto audiovisual, se puede acudir a las siguientes estrategias:



        .row.justify-content-center.mt-70

            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen12.png")

                        h4.text-color-azul.mt-5 Contratar un script doctor
                        hr.text-line-card
                        p.mt-3 Traducido de manera literal al español, el script doctor viene siendo un doctor de guiones. Es una persona con mucha experiencia en la escritura de este tipo de productos, que lee el guion, indica qué problemas tiene y si es el caso, ayuda a resolverlos.

            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen13.png")

                        h4.text-color-azul.mt-5 Aplicar a laboratorios de guion
                        hr.text-line-card 
                        p.mt-3 Los laboratorios de guion son espacios en los cuales un grupo de especialistas en guion asesoran los proyectos desde sus especialidades. Además, los participantes tienen la oportunidad de escuchar los proyectos de sus compañeros, lo que no solo incentiva la creatividad, sino que permite aprender de las experiencias de otros.

        .row.my-5
            p Cuando sea el momento de venderlo u ofrecerlo para que sea producido, se puede intentar de las siguientes maneras:


        .row.justify-content-center
            .col-10.col-md-8
                .card-media.background-color-transparente
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen14.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-verde Buscar casas productoras locales]
                                br
                                br
                                | Generalmente este tipo de negocios que aún no son del todo reconocidos, buscan proyectos para realizar. Esta gestión se puede hacer a través de las redes sociales o con ayuda de un directorio local. Es importante conocer el trabajo que han realizado previamente para saber en qué tipo de productos se podrían interesar.


            .col-10.col-md-8
                .card-media.background-color-transparente
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen15.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul-oscuro Reunir un equipo]
                                br
                                br
                                | Si no es posible que una casa productora se interese en el guion, tal vez algunos profesionales, estudiantes o entusiastas independientes sí. Se debe buscar al equipo base para ponerlo en marcha y llegar a un acuerdo comercial con él. Además, se tiene la posibilidad de ejercer otros roles como el de director o productor.



            .col-10.col-md-8
                .card-media.background-color-transparente
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen16.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-rojo Afiliarse a una asociación de guionistas]
                                br
                                br
                                | Este tipo de organizaciones privadas son una puerta más inmediata a las casas productoras en la búsqueda de guiones. 



            .col-10.col-md-8
                .card-media.background-color-transparente
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen17.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-azul-oscuro Acudir a convocatorias]
                                br
                                br
                                | Una vez se está seguros que el guion o idea es material de alta calidad, se puede inscribir a convocatorios locales e internacionales que tengan categoría de escritura. Estas convocatorias otorgan estímulos económicos para que los escritores desarrollen o terminen de escribir sus guiones y así, tengan más posibilidades de ser producidos.


        .row
            p Como se ve, la estrategia para que el guion sea producido depende de muchos factores a considerar, pero si se ha hecho un buen trabajo y se está educando constantemente, cada vez se generarán productos de mayor calidad, dignos de ser vistos en pantalla.







