//Colores base del material de formación
$brand-color-dark: #00327A;
$text-color-dark:#CEC6B2;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #2A8EF2;
$text-color-light: #FFFFFF;
$brand-color-secondary:#2A8EF2;

